@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#99c5ff;
background-image:
radial-gradient(at 5% 93%, hsla(262,67%,63%,1) 0px, transparent 50%),
radial-gradient(at 60% 7%, hsla(252,78%,61%,1) 0px, transparent 50%),
radial-gradient(at 22% 95%, hsla(138,62%,68%,1) 0px, transparent 50%),
radial-gradient(at 95% 43%, hsla(67,81%,65%,1) 0px, transparent 50%),
radial-gradient(at 65% 14%, hsla(338,99%,63%,1) 0px, transparent 50%),
radial-gradient(at 64% 52%, hsla(282,94%,65%,1) 0px, transparent 50%),
radial-gradient(at 49% 32%, hsla(271,78%,76%,1) 0px, transparent 50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: white;
}